 
html {
  background: #373636;
}

body {
  color:  #f0aa06;
  width: 480px;
  margin: 50px auto;

  font-family: Courier New, Courier, monospace;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;

  -webkit-font-smoothing: antialiased;
}

@media screen and (max-device-width: 480px) {
  body {
    margin: 0 0 50px 0;
  }
}

header {
  color: #f0aa06;
}

a {
  color: #f0aa06;
}

a:hover {
  background: #f0aa06;
  color: #111;
  text-decoration: none;
}

header span.dim {
  color: #f0aa06;
}

section strong {
  color: #0f0;
}

section.copyright {
  color: #4f4d4e;
}

div.cursor {
  display: inline-block;
  background: #f0aa06;
  margin-left: 1px;

  -webkit-animation: blink 2s linear 0s infinite;
  -moz-animation: blink 2s linear 0s infinite;
  -ms-animation: blink 2s linear 0s infinite;
  -o-animation: blink 2s linear 0s infinite;
}

@-webkit-keyframes blink {
  0%   { background: #0a0 }
  47%  { background: #090 }
  50%  { background: #373636 }
  97%  { background: #373636 }
  100% { background: #373636 }
}

@-moz-keyframes blink {
  0%   { background: #0a0 }
  47%  { background: #090 }
  50%  { background: #373636 }
  97%  { background: #373636 }
  100% { background: #373636 }
}

@-ms-keyframes blink {
  0%   { background: #0a0 }
  47%  { background: #090 }
  50%  { background: #373636 }
  97%  { background: #373636 }
  100% { background: #373636 }
}

@-o-keyframes blink {
  0%   { background: #0a0 }
  47%  { background: #090 }
  50%  { background: #373636 }
  97%  { background: #373636 }
  100% { background: #373636 }
}
